.list {
    flex: 0.75;
    display: flex;
    background-color: #121212;
    flex-direction: column;
    position: relative;
    z-index: 10;
    margin-left: 60px; 
    width: calc(100% - 60px); 
}

@media (max-width:500px){
    .list{
        position: absolute;
        margin-left: 0;
        width: 100%;
    }
    .close{
        display: none;
   }
}